@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

Link {
  color: none;
  text-decoration: none;
}

body {
  height: 100%;
  background-color: #203126;
}

#root {
  height: 100%;
  background-color: #203126;
}

.background {
  background-color: #203126;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  font-weight: normal;
}

h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 50px;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 35px;
  margin-left: 10px;
}

h4 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 20px;
}

/* NAVBAR */

.navbarNormal {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  background-color: #fcfbf6;
  padding: 5px;
  padding-left: 5px;
  padding-top: 0;
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  margin-right: 30px;
}

/* PAGE HOME */

.mycontainer {
  height: 100vh;
  max-width: 100vw;
  padding: 0;
  scroll-behavior: smooth;
}

.navbarHome {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background-color: #fcfbf6;
  padding: 5px;
  padding-left: 5px;
  padding-top: 0;
  color: #203126;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.imageBackground {
  background-image: url(background.png);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 20;
}

.pHome {
  margin: 0;
}

.pHome1 {
  font-family: "Montserrat";
  width: 70vw;
  font-size: 25px;
  margin-left: 10px;
  color: white;
}

.chevronBlanc {
  position: absolute;
  width: 64.36px;
  height: 86.73px;
  left: 47vw;
  top: 85vh;
}

.chevronBlanc2 {
  position: absolute;
  width: 64.36px;
  height: 86.73px;
  left: 47vw;
  top: 105vh;
  transform: rotate(180deg);
  margin-top: 20vh;
}

.paletteNoire {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 32vh;
  right: 3vw;

  background: #2f2f31;
  border-radius: 20px;
  transform: matrix(0, -1, -1, -0, 0, 0);
}

.paletteBrune {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 45vh;
  right: 3vw;

  background: #9d7d61;
  border-radius: 20px;
  transform: matrix(0, -1, -1, -0, 0, 0);
}
.paletteBleue {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 58vh;
  right: 3vw;

  background: #2c324b;
  border-radius: 20px;
  transform: matrix(0, -1, -1, -0, 0, 0);
}
.paletteOr {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 71vh;
  right: 3vw;

  background: #bb9a4d;
  border-radius: 20px;
  transform: matrix(0, -1, -1, -0, 0, 0);
}
.paletteBlanc {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 84vh;
  right: 3vw;
  z-index: 25;

  background: #e6e7eb;
  border-radius: 20px;
  transform: matrix(0, -1, -1, -0, 0, 0);
}

.titreHomeSection1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  padding-top: 25vh;
  margin-left: 2vw;
  color: #203126;
}

.titreHomeSection2 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 25px;
  margin-left: 18vw;
  color: #fdfcf7;
  width: 70vw;
  padding-top: 40vh;
}

.inputHome1 {
  border-radius: 50px;
  opacity: 90%;
  border: 1px solid #203126;
  position: absolute;
  left: 40vw;
  top: 75vh;
  height: 45px;
  width: 250px;
  font-size: 15px;
  color: white;
  background-color: #203126;
  cursor: pointer;
}
.inputHome2 {
  border-radius: 50px;
  border: 0px solid #203126;
  position: absolute;
  left: 40vw;
  top: 170vh;
  height: 45px;
  width: 250px;
  font-size: 15px;
  color: #203126;
  background-color: #fdfcf7;
  cursor: pointer;
}

/* PAGE QUIZ */

.questions {
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
  max-width: 50%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 50px;
  /* or 139% */

  display: flex;
  align-items: center;
  letter-spacing: 0.15px;

  color: #fcfbf6;
}

.questionsPhoto {
  display: flex;
  align-items: center;
  padding-top: 10vh;
}

.ProgressBar {
  width: 100%;
  margin-bottom: 20px;
  margin-top: -5px;
}

.inputValider {
  border-radius: 50px;
  opacity: 80%;
  border: 1px solid #203126;
  margin-top: 2vh;
  margin-left: 11.5vw;
  height: 5vh;
  width: 6.5vw;
  font-size: 13px;
  color: white;
  background-color: #203126;
}

.ButtonQuestionnaire {
  background: #fcfbf6;
  border-radius: 50px;
  color: #203126;
  border: 0.5px solid #fcfbf6;
  width: 15vw;
  height: 5vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.photo {
  width: 50vw;
  margin: 20px;
}
.photo:hover {
  width: 55vw;
  cursor: pointer;
}

.arrow-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 10px 15px 0px 15px;
}
.arrow-button:hover {
  height: 45px;
  cursor: pointer;
}

.ErrorQuiz {
  font-family: "Montserrat";
  font-size: 15px;
  color: #fcfbf6;
  text-align: center;
  margin-top: 5px;
}
/* PAGE MYPALETTE */

.containerMypalette {
  height: 40vh;
  width: 70vw;
  background-color: #fcfbf6;
  border-radius: 10px;
  margin-left: 15vw;
  margin-top: 10vh;
}

.h3Mypalette {
  font-family: "Montserrat";
  font-weight: 700;
  color: #203126;
  letter-spacing: -1.5px;
  padding-top: 1vh;
  margin: 0 0 0 1vw;
  font-size: 30px;
}

.traitMypalette {
  width: 100%;
  height: 3px;
  background-color: #203126;
}

.descriptionMypalette {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  margin-left: 15vw;
  margin-top: 5vh;
  color: #fdfcf7;
  width: 70vw;
  text-align: justify;
}

.textColorPalette {
  margin-left: 5px;
  transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.palette {
  width: 140px;
  height: 140px;
  margin-top: 4.5vh;
  margin-left: 3.5vw;

  transform: matrix(0, -1, -1, 0, 0, 0);
}

.inputMypalette {
  border-radius: 50px;
  border: 0px solid #203126;
  height: 45px;
  width: 250px;
  font-size: 15px;
  color: #203126;
  background-color: #fdfcf7;
  cursor: pointer;
  margin-left: 42vw;
}

/* PAGE SHOPPING LIST */

.articleCardTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.articleCardBrand {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #625c51;
  opacity: 0.54;
}

.scroller {
  width: 100%;
  height: 75vh;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

/* PAGE LOGIN */

.formLogin {
  border-radius: 30px;
}

.input {
  border-radius: 50px;
  border: 1px solid #203126;
  opacity: 50%;
  margin-top: 2vh;
  height: 5.5vh;
  font-size: 15px;
  padding-left: 0.5vw;
  width: 18vw;
}

.containerLogin {
  height: 65vh;
  width: 70vw;
  background-color: #fcfbf6;
  border-radius: 10px;
  margin-left: 220px;
}
.login {
  display: flex;
  justify-content: space-between;
}

.connexion {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: normal;
  margin-top: 60px;
  margin-left: 180px;
  color: #203126;
}

.inscription {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: normal;
  margin-top: 60px;
  margin-right: 180px;
  color: #203126;
}

.h3title {
  font-family: "Montserrat";
  padding-top: 15px;
  margin-bottom: 10px;
  color: #203126;
  letter-spacing: -1.5px;
}

.trait {
  margin-top: 80px;
  width: 180px;
  transform: rotate(-180deg);
  margin-left: 60px;
  margin-right: 60px;
}

.trait2 {
  width: 100%;
  height: 3px;
  background-color: #203126;
}

/* PAGE WISHLIST */

.backgroundWishlist {
  background-color: #fdfcf7;
  height: 100%;
  width: 100%;
}

.traitWishlist {
  width: 100%;
  height: 5px;
  background-color: #203126;
}

/* PAGE ALLPALETTES */
