@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400;500;600;800&display=swap');

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 70px;
  font-weight: normal;
}

h3 {
position: absolute;
width: 700px;
height: 118px;
right: 1px;
top: 160px;

font-family: 'Montserrat', cursive;
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 59px;
display: flex;
align-items: center;
letter-spacing: -1.5px;

color: #203126;

}

.container {
  height: 100vh;
  max-width: 100vw;
  padding: 0;
}

.imageBackground {
  width:100vw;
  height:100vh;
  object-fit:cover;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  background-color : #FCFBF6;
  padding: 5px;
  padding-left: 5px;
  padding-top: 0;
  color: #203126;
  display : flex ;
  
}



.icon {
  margin-right: 10px;
  display : flex;
}




.navbarHome {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background-color : #FCFBF6;
  padding: 5px;
  padding-left: 5px;
  padding-top: 0;
  color: #203126;
  display : flex ;
  justify-content: space-between;
}













