@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400;500;600;800&display=swap');

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  font-weight: normal;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  background-color : #FCFBF6;
  padding: 5px;
  padding-left: 5px;
  padding-top: 0;
  color: #203126;
  display : flex ;
}

.icon {
  margin-right: 10px;
  display : flex;
}



















