@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400;500;600;800&display=swap');


.background {
  background-color: #203126;
  height: 100vh;
  width:100%;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 70px;
  font-weight: normal;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
  font-weight: normal;
}

h3 {
position: relative;
width: 700px;
height: 118px;
right: 1px;
top: 160px;

font-family: 'Montserrat', cursive;
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 59px;
display: flex;
align-items: center;
letter-spacing: -1.5px;

color: #203126;

}

.container {
  height: 100vh;
  max-width: 100vw;
  padding: 0;
}

.imageBackground {
  width:100vw;
  height:100vh;
  object-fit:cover;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  background-color : #FCFBF6;
  padding: 5px;
  padding-left: 5px;
  padding-top: 0;
  color: #203126;
  display : flex ;
  
}


.questions {
position: absolute;
margin-left: 30px;
margin-top: 30px;
max-width: 50%;

font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 50px;
/* or 139% */

display: flex;
align-items: center;
letter-spacing: 0.15px;

color: #FCFBF6;

}

.questionsPhoto {
display: flex;
align-items: center;
padding-top: 150px;
}

.navbarHome {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background-color : #FCFBF6;
  padding: 5px;
  padding-left: 5px;
  padding-top: 0;
  color: #203126;
  display : flex ;
  justify-content: space-between;
}

.navbarNormal {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  background-color : #FCFBF6;
  padding: 5px;
  padding-left: 5px;
  padding-top: 0;
  color: #203126;
  display : flex ;
  justify-content: space-between;
}

.container {
  height: 65vh;
  width: 80vw;
  background-color : #FCFBF6;
  color: #203126;
  border-radius: 10px;
}

.login {
   display : flex;
   justify-content: space-between;
}

.connexion {
  font-family: 'Montserrat';
  font-size: 25px;
  font-weight: normal;
  margin-top: 60px;
  margin-left: 100px;
}

.inscription {
  font-family: 'Montserrat';
  font-size: 25px;
  font-weight: normal;
  margin-top: 60px;
  margin-right: 300px;
}



.ProgressBar {
  width:100%
}








