@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400;500;600;800&display=swap");

.background {
  background-color: #203126;
  height: 100vh;
  width: 100%;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 70px;
  font-weight: normal;
}

h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 50px;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 35px;
  margin-left: 10px;
}

/* 
.imageBackground {
 background-image: url(/background.png);
} */
/* 
.h3home {
  position: absolute;
  width: 700px;
  height: 118px;
  right: 1px;
  top: 160px;
  
  font-family: 'Montserrat', cursive;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 59px;
  display: flex;
  align-items: center;
  letter-spacing: -1.5px;
  
  color: #203126;
  
  } */

/* .container {
    height: 100vh;
    max-width: 100vw;
    padding: 0;
  } */

/* .imageBackground {
    width:100vw;
    height:100vh;
    object-fit:cover;
  } */

.h3home {
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 800;
  margin-left: 20px;
}

.navbarFixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  background-color: #fcfbf6;
  padding: 5px;
  padding-left: 5px;
  padding-top: 0;
  color: #203126;
  display: flex;
}

.questions {
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
  max-width: 50%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 50px;
  /* or 139% */

  display: flex;
  align-items: center;
  letter-spacing: 0.15px;

  color: #fcfbf6;
}

.questionsPhoto {
  display: flex;
  align-items: center;
  padding-top: 150px;
}

.navbarHome {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background-color: #fcfbf6;
  padding: 5px;
  padding-left: 5px;
  padding-top: 0;
  color: #203126;
  display: flex;
  justify-content: space-between;
}

.navbarNormal {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  background-color: #fcfbf6;
  padding: 5px;
  padding-left: 5px;
  padding-top: 0;
  color: #203126;
  display: flex;
  justify-content: space-between;
}

.containerLogin {
  height: 65vh;
  width: 70vw;
  background-color : #fcfbf6;
  border-radius: 10px;
  margin-left: 220px;
}

.login {
  display: flex;
  justify-content: space-between;
}

.connexion {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: normal;
  margin-top: 60px;
  margin-left: 180px;
  display: flex;
  flex-direction: column;
}

.inscription {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: normal;
  margin-top: 60px;
  margin-right: 180px;
}

.trait {
margin-top: 80px;
width: 180px;
transform: rotate(-180deg);
margin-left: 60px;
margin-right: 60px;
}

.trait2 {
  width: 100%;
  height: 3px;
  background-color : #203126;
  }

.ProgressBar {
  width: 100%;
}

.formLogin {
  border-radius: 30px;
}

.input {
  border-radius: 50px;
  border: 1px solid #203126;
  opacity: 50%;
  margin-top:10px;
  height: 45px;
  font-size: 15px;
  padding-left: 10px;
  width: 250px;
}

.inputValider {
  border-radius: 50px;
  opacity: 80%;
  border: 1px solid #203126;
  margin-top:10px; 
  margin-left: 155px; 
  height: 45px;
  width: 100;
  font-size: 15px; 
  color: white;
  background-color: #203126
}









