@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400;500;600;800&display=swap');


.background {
  background-color: #203126;
  height: 100vh;
  width:100%;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 5ch;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat';
  font-size: 35px;
  font-weight: 800;
}

.navbarFixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  background-color : #FCFBF6;
  padding: 5px;
  padding-left: 5px;
  padding-top: 0;
  color: #203126;
  display : flex ;
  
}


.navbarHome {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background-color : #FCFBF6;
  padding: 5px;
  padding-left: 5px;
  padding-top: 0;
  color: #203126;
  display : flex ;
  justify-content: space-between;
}

.navbarNormal {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  background-color : #FCFBF6;
  padding: 5px;
  padding-left: 5px;
  padding-top: 0;
  color: #203126;
  display : flex ;
  justify-content: space-between;
}

.container {
  height: 65vh;
  width: 80vw;
  background-color : #FCFBF6;
  color: #203126;
  border-radius: 10px;
}

.login {
   display : flex;
   justify-content: space-between;
}

.connexion {
  font-family: 'Montserrat';
  font-size: 25px;
  font-weight: normal;
  margin-top: 60px;
  margin-left: 100px;
}

.inscription {
  font-family: 'Montserrat';
  font-size: 25px;
  font-weight: normal;
  margin-top: 60px;
  margin-right: 300px;
}













